<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <!-- Imporant meta information to make the page as rigid as possible on mobiles, to avoid unintentional zooming on the page itself  -->
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- The main Three.js file -->
    <title>FeedBack</title>
    <link rel="stylesheet" href="../../static/CSS/team.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/108/three.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stats.js/7/Stats.min.js" integrity="sha512-ey3wf3z1WUgQ6/XU/lV1UVQkbCpWsyQANkBst88XXWHok9fXKp55G365lLhScYihGpkzhiZz75r+8isUSCKRIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js" integrity="sha512-VEBjfxWUOyzl0bAwh4gdLEaQyDYPvLrZql3pw1ifgb6fhEvZl9iDDehwHZ+dsMzA0Jfww8Xt7COSZuJ/slxc4Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r70/three.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/264161/OrbitControls.js"></script>

  </head>
<body>


  <div id="world"></div>
<div id="instructions">Press and drag to make wind<br/><span class="lightInstructions">the lion and the team  will surely appreciate</span></div>
<div id="reach-us">
  You can Reach us for FeedBacks and innovative ideas @Github and create an issue <a href="https://github.com/orgs/DedSecdotbat" target="_blank" >DedSecdotbat/SIH</a>
</div>
<div id="credits">
  <p>Prints on <a class="society6" href="https://github.com/orgs/DedSecdotbat"  target="blank">RankByte</a> | <a href="https://github.com/shreykoradia"  target="blank">SHREY (Frontend-Lead)</a> | <a href="https://github.com/meet-radadiya" target="blank">Meet (Backend-Lead)</a><br>
    <a href="https://github.com/trivedivedant"  target="blank">Vedant (Frontend Member)</a> | <a href="https://github.com/patidarV1jay"  target="blank">Vijay (Frontend-Member)</a><br>
    <a href="https://github.com/Vraj5006"  target="blank">Vraj (Backend-Member)</a> | <a href="https://github.com/dhyani21"  target="blank">Dhyani (Backend-Member)</a>
  </p>
</div>
  
  <!-- The loading element overlays all else until the model is loaded, at which point we remove this element from the DOM -->  
  <!-- <div class="mv">
    <div class="stage" id="js-stage"></div>
    <h1 class="title">Team</h1>
    </div>
  </div>

  <div class="frontendteam">
    <div class="frontend">
        <h2 class="frontendlead">FrontEnd Lead : Shrey Koradia</h2>
        <h2 class="frontendmember">FrontEnd Members :</h2><br>
        <h2 class="members">Vijay Patidar</h2><br><br>
        <h2 class="members">Vedant Trivedi</h2><br><br>
    </div>
  </div>
  <div class="backendteam">
    <div class="backend ">
      <h2 class="backendlead ">Backend Lead : Meet Radadia</h2>
      <h2 class="backendmember">Backend Members :</h2><br>
      <h2 class="backendmembers">Vraj Patel</h2><br><br>
      <h2 class="backendmembers">Dhyani Desai</h2>
  </div>
  </div>
  <script src="../../static/JS/aboutJSText.js"></script> -->
  <script src="../../static/JS/team.js" type="module"></script> 
</body>
</html>





